<div class="o-input-div">
    <label [for]="name">{{ label }}</label>
    <select [formControl]="control" [name]="name" [required]="required" [placeholder]="placeholder">
        @for(item of items; track item.id) {
        <option value="item.id">{{ item.nom }}</option>
        }@empty{
        <div>No hi ha elements disponibles.</div>
        }
    </select>
    <p class="o-error-msg" *ngIf="control.errors && (control.touched || control.dirty)">
        {{ errorMessage || "Este campo es obligatorio." }}
    </p>
</div>