
    <main [class.c-registre-main]="!itinerariId" >
    <div [class.c-registre-container]="!itinerariId">
        @if(!itinerariId){
        <div class="o-heading">
            <h1>Registro</h1>
            <p>Introduce tus datos para el registro en administración</p>
        </div>
        }
        <form class="o-form-box" [formGroup]="registreForm" (ngSubmit)="submit()">
            <app-input-text label="Escribe tu nombre: " name="name" [control]="name"
                placeholder="Aquí tu nombre" errorMessage="{{ getErrorMessage(name, 'Nombre') }}"
                required="required">
            </app-input-text>
            <app-input-email label="Escribe tu correo electrónico: " name="email" [control]="email"
                placeholder="correo@dominio.ext" errorMessage="{{ getErrorMessage(email, 'Email') }}"
                required="required">
            </app-input-email>
            <app-input-password label="Escribe una contraseña: " name="password" [control]="password"
                errorMessage="{{ getErrorMessage(password, 'Contraseña') }}" required="required"></app-input-password>
            <app-input-password label="Confirma la contraseña: " name="confirmPassword" [control]="confirmPassword"
                errorMessage="{{ getErrorMessage(password, 'Confirmar contraseña, ') }}" required="required"></app-input-password>
            <app-submit text="Envía"></app-submit>
        </form>
    </div>
</main>