<header>
    <h1 class="o-web-heading" (click)="inici()">PADRÓN PARA TODES</h1>
    <div class="c-perfil">
        
        @if(acreditat()){
            <div title="Nombre de usuária">{{ this.modalService.credentials()?.user.email }}</div>
            <div (click)="logout()">
                <i class="fa-solid fa-right-from-bracket" title="logout"></i>
            </div>
        }
        @else{
            <div (click)="logout()"><i class="fa-regular fa-circle-user" title="login"></i></div>
        }
    </div>
</header>