
header{
    width:100%;
    display: flex;
    height: 56px;
    padding: 0 60px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: linear-gradient(270deg, var(--groc) 0%, #FD68C4 99.99%);
}

h1{
    color: var(--negre);
    text-align: right;
    font-family: var(--font-principal);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
