<main class="o-layout">
    <div class="o-layout-part">
        <div class="o-heading">
            <h1>Dashboard</h1>
            <p>Escoje una ciudad</p>
            <app-select-ciutats
                (ciutatOutput)="actualitzarCiutat($event)"
            ></app-select-ciutats>
            @if(idCiutatSeleccionada()){
            <app-list [title]="'Preguntas'" [items]="preguntesLlistables()" [editable]="true" [back]="false"
                (accio)="handleAccio($event)" [idSelected]="idCiutatSeleccionada()">
            </app-list>
            }
        </div>
    </div>
    <!-- Layout de detall -->
    <div class="o-layout-part">
        @if(idPreguntaSeleccionada()){
            @if(accioActual()=='view'){
            <app-card [title]="'Respuestas'"
                [subtitle]="'Crea o modifica las distintas respuestas a la pregunta seleccionada '">
                <div class="o-card-content">
                    @if(situacionsLlistables()){

                    <app-list-in-card [title]="'Listado de respuestas'" [items]="situacionsLlistables()" [editable]="true"
                        (accio)="handleAccioSituacions($event)">
                    </app-list-in-card>

                    }
                    @else{
                    <p>No hay respuestas para esta pregunta</p>
                    }
                </div>
                <div>
                    <app-submit [text]="'Nueva respuesta'" (clickEvent)="afegeixResposta()" [icono]="true">
                    </app-submit>
                </div>

            </app-card>
            <!-- Formulari per afegir administradores -->
            @if(addResposta()){
            <app-card [title]="'Nueva respuesta'"
                [subtitle]="'Escribe una respuesta y selecciona la pregunta a la que dirigirá'">
                <app-situacio-form></app-situacio-form>
            </app-card>
            }
            }
            @if(accioActual() === 'edit'){
            <app-card [title]="'Modificar la pregunta'" [subtitle]="'Edita los datos de la pregunta'">
                <app-pregunta-form
                    [(preguntaSeleccionada)]="preguntaSeleccionada"
                    [idCiutatSeleccionada]="idCiutatSeleccionada()"
                ></app-pregunta-form>
            </app-card>
            }
        }

        @if(accioActual() === 'add'){
        <app-card [title]="'Añadir nueva pregunta'" [subtitle]="'Añade una nueva pregunta a la lista'">
            <app-pregunta-form></app-pregunta-form>
        </app-card>
        }
    </div>
</main>