  <!--Estats
  
    veure ciutar: mostra les preguntes de la ciutat, sense cap pregunta seleccionada
         idCiutatSeleccionada
         accioActual = null

    afegir pregunta: mostra el formulari per crear una nova pregunta, sense cap pregunta seleccionada
          idCiutatSeleccionada
          accioActual = 'add'
        ->porta a veure pregunta

    veure pregunta: mostra les situacions de la pregunta seleccionada, sense cap situacio seleccionada
          idCiutatSeleccionada
          idPreguntaSeleccionada
          accioActual = 'view'
        ->porta a editar/afegir/eliminar situacio seleccionada

    editar pregunta: mostra el formulari de la pregunta seleccionada
          idCiutatSeleccionada
          idPreguntaSeleccionada
          accioActual = 'edit'
        ->porta a veure pregunta

    eliminar pregunta: no mostra, actua
          idCiutatSeleccionada
          idPreguntaSeleccionada
          accioActual = 'delete'
      ->torna a VEURE CIUTAT

    afegir situacio: mostra el formulari per crear una nova situacio, sense cap situacio seleccionada
          idCiutatSeleccionada
          idPreguntaSeleccionada
          accioActual = 'add'
          
          Per gurdar:
          idPreguntaSeguentSeleccionada
          textResposta requerit
        
          ->porta a veure pregunta

        **afegir pregunta següent: mostra el formulari per crear una nova pregunta
            idCiutatSeleccionada
            idPreguntaSeleccionada
            accioActual = 'addPregunta'
          ->porta a afegir situacio

    editar situacio: mostra el formulari de la situacio seleccionada
          idCiutatSeleccionada
          idPreguntaSeleccionada
          idSituacioSeleccionada
          accioActual = 'edit'
        ->porta a veure pregunta

        **afegir pregunta següent: mostra el formulari per crear una nova pregunta
            idCiutatSeleccionada
            idPreguntaSeleccionada
            idSituacioSeleccionada
            accioActual = 'addPregunta'
          ->porta a editar situacio

    eliminar situacio: no mostra, actua
          idCiutatSeleccionada
          idPreguntaSeleccionada
          idSituacioSeleccionada
          accioActual = 'delete'
      ->torna a VEURE PREGUNTA



-->




<main class="o-layout">
    <div class="o-layout-part">
        <div class="o-heading">
            <h1>Dashboard</h1>
            <p>Escoje una ciudad</p>
            <app-select-ciutats
                (ciutatOutput)="actualitzarCiutat($event)"
            ></app-select-ciutats>
            @if(idCiutatSeleccionada()){
            <app-list [title]="'Preguntas'" [items]="preguntesLlistables()" [editable]="true" [back]="false"
                (accio)="handleAccio($event)" [idSelected]="idCiutatSeleccionada()">
            </app-list>
            }
        </div>
    </div>
    <!-- Layout de detall -->
    <div class="o-layout-part">
        @if(idPreguntaSeleccionada()){
            @if(accioActual()=='view'){
            <app-card [title]="'Respuestas'"
                [subtitle]="'Crea o modifica las distintas respuestas a la pregunta seleccionada '">
                <div class="o-card-content">
                    @if(situacionsLlistables()){

                    <app-list-in-card [title]="'Listado de respuestas'" [items]="situacionsLlistables()" [editable]="true"
                        (accio)="handleAccioSituacions($event)">
                    </app-list-in-card>

                    }
                    @else{
                    <p>No hay respuestas para esta pregunta</p>
                    }
                </div>
                <div>
                    <app-submit [text]="'Nueva respuesta'" (clickEvent)="afegeixResposta()" [icono]="true">
                    </app-submit>
                </div>

            </app-card>
            <!-- Formulari per afegir administradores -->
            @if(addResposta()){
            <app-card [title]="'Nueva respuesta'"
                [subtitle]="'Escribe una respuesta y selecciona la pregunta a la que dirigirá'">
                <app-situacio-form></app-situacio-form>
            </app-card>
            <app-submit (clickEvent)="afegeixResposta(false)" text="Cancelar" [icono]="true"></app-submit>
            }
            }
            @if(accioActual() === 'edit'){
            <app-card [title]="'Modificar la pregunta'" [subtitle]="'Edita los datos de la pregunta'">
                <app-pregunta-form
                    [preguntaSeleccionada]="preguntaSeleccionada()"
                    [idCiutatSeleccionada]="idCiutatSeleccionada()"
                    (preguntaActualitzada)="modificarPregunta($event)"
                ></app-pregunta-form>
            </app-card>
            }
        }

        @if(accioActual() === 'add' && !idPreguntaSeleccionada() 
            || accioActual() === 'addPregunta'
        ){
        <app-card [title]="'Añadir nueva pregunta'" [subtitle]="'Añade una nueva pregunta a la lista'">
            <app-pregunta-form
            (preguntaActualitzada)="afegeixPregunta($event)"
            ></app-pregunta-form>
        </app-card>
        }
    </div>
</main>