<div class="c-list-container">
    <div class="o-list-div ">
        <ul class="u-list-espaiat">
            @for(item of items; track item.id) {
                <li class="o-list-item u-list-item-gray" 
            [class.u-clickable]="clickable"
            [class.o-list-item-selected]="item.id === idSelected"
            (click)="$event.stopPropagation(); onAccio('view', item.id)" 
            (keydown.space) = "onAccio('view', item.id)"
            tabindex="0"
            title="ver elemento">
                <!--  <div *ngIf="label" class="o-list-item-name">{{ item.label }}</div>-->
                <div class="o-list-item-content">{{ item.nom }}</div>

                <div class="o-list-item-actions">
                    @if(editable){
                    <button (click)="$event.stopPropagation(); onAccio('edit', item.id)"
                            (keydown.space) = "onAccio('edit', item.id)"
                            tabindex="0"
                            class="o-edit-button"><i
                            class="fa-solid fa-pencil"
                            title="editar elemento"></i></button>
                    }
                    @if(esborrable){
                    <button (click)="$event.stopPropagation(); onAccio('delete', item.id)" 
                            (keydown.space) = "onAccio('delete', item.id)"
                            tabindex="0"        
                            class="o-delete-button"><i
                            class="fa-solid fa-trash-can"
                            title="borrar elemento"></i></button>
                    }
                </div>
            </li>
            }@empty{
            <div>No hay elementos disponibles.</div>
            }
        </ul>
    </div>

</div>