.c-login-main{
    display: flex;
    padding: var(--padding-xl) var(--padding-xl);
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
    flex: 1 0 0;
    align-self: stretch;
}

.c-login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-lg);
}