<main class="c-login-main">
    <div class="c-login-container">
        <div class="o-heading">
            <h1>Login</h1>
            <p>Introduce tus credenciales</p>
        </div>
        <form class="o-form-box" [formGroup]="loginForm" (ngSubmit)="login()">
            <app-input-email label="Escriu el teu correu electrònic: " name="email" [control]="email"
                placeholder="correu@domini.ext" errorMessage="{{ getErrorMessage(email, 'Email') }}"
                required="required">
            </app-input-email>
            <app-input-password label="Escriu la teva contrasenya: " name="password" [control]="password"
                errorMessage="{{ getErrorMessage(password, 'Password') }}" required="required"></app-input-password>
            <app-submit text="Envía"></app-submit>
        </form>
    </div>
</main>