.c-modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--alpha-black-alpha-black-60, rgba(0, 0, 0, 0.60));
}

.c-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-space-800);
}

.c-modal-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-space-400);
    text-align: center;
}

.c-icon{
    width: 44px;
    height: 44px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 22px;
    background-color: var(--Clar-25, #FFE1F3);
    color: var(--Fosc-600, #E63B91)
}

.c-botons-modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--size-space-200);

    button{
        width: 100%;
    }
}

.u-icon-ok{
    background-color: var(--success-100, #D1FADF);
    color: var(--success-600, #039855)
}
.u-icon-info{
    background-color:  #ffeb7b;
    color: #da9500;
}
.u-icon-alert{
    background-color: var(--Clar-25, #FFE1F3);
    color: var(--Fosc-600, #E63B91)
}

.u-modal-content-form{
    text-align: left;
    padding: var(--size-space-400);
}