@if(modalTipo() && modalMissatge()){
<div class="c-modal"  (click)="close('general')" (keydown.space)="close()" (keydown.scape)="close()" >


     <div class="o-card-div">
        <div class="c-modal-content">
        <div class="c-modal-part">
        @switch(modalTipo()){
            @case ('ok'){
                <div class="c-icon u-icon-ok">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            }
            @case ('error'){
                <div class="c-icon u-icon-alert">
                <i class="fa-solid fa-circle-info"></i>
                </div>
            }
            @case ('info'){
                <div class="c-icon u-icon-info">
                <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            }
            @case ('delete'){
                <div class="c-icon u-icon-alert">
                <i class="fa-solid fa-trash-can"></i>
                </div>
            }
        }
        <h1>{{ modalTitol() }}</h1>
        <p>{{ modalMissatge() }}</p>
        @if(itinerariId()){
        <div class="u-modal-content-form">
            <app-register [itinerariId]="itinerariId()"></app-register>
        </div>
        <button (click)="returnBoolean(false);" class="o-submit-button u-alter-button">Cancelar</button>
    }
        <small>{{ error() }}</small>
        </div>

        @if(botonsConfirmacio()){
            <div class="c-modal-part">
                <button (click)="returnBoolean(true);" class="o-submit-button">Aceptar</button>
                <button (click)="returnBoolean(false);" class="o-submit-button u-alter-button">Cancelar</button>
            </div>
        }
        </div>
     </div>
</div>
}