input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-topbottom-inputs)
            var(--padding-leftright-inputs);
    position: relative;
    border-radius: var(--corners-corners-inputs, 8px);
    border: 1px solid var(--gray-border-border-input, #CDD5DF);
    overflow: hidden;
}