.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--numbers-paddings-pad-topbottom-inputs)
            var(--numbers-paddings-pad-leftright-inputs)
            var(--numbers-paddings-pad-topbottom-inputs)
            var(--numbers-paddings-pad-leftright-inputs);
    position: relative;
    border-radius: var(--numbers-corners-corners-inputs);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--colors-gray-border-border-input);
}