:root {
  /* COLORS 
  --negre: #121926;
  --rosa-fosc: #E32585;
  --rosa-clar: #FD68C4;
  --groc: #FDDA5A;
  --blanc: #FFFFFF;
  --clar25: #FFE1F3;
  --clar300: #FD77CA;
  --clar700: #9F9F9F;
  --clar800: #97025E;
  --fosc25: #FCE9F3;
  --fosc100: #F4A8CE;
*/
  /* FONT */
  --font-principal: "Plus Jakarta Sans";

  /* GRADIENT */
  --gradient-clar-groc: linear-gradient(270deg, #FDDA5A 0%, #FD68C4 99.99%);
  
}