<main class="o-layout">
        <!--ESQUERRA-->
            <div class="o-layout-part">
                <div class="o-heading">
                    
                    @if(!ciutatSeleccionada()){
                        <h1>Padrón para todxs</h1>
                    <p>Escoje una ciudad</p>
                    <app-select-ciutats
                        (ciutatOutput)="actualitzarCiutat($event)"
                    ></app-select-ciutats>
                    }
                    @else{
                        @if(preguntesLlistables()){                        
                            <app-card [title]="ciutatSeleccionada()?.nom" 
                                [subtitle]="' '">
                                <div class="o-card-content">
                                    <app-list-in-card [title]="'Responde a la pregunta:'" [items]="preguntesLlistables()" [editable]="false"
                                        >
                                    </app-list-in-card>
                                </div>
                            </app-card>
                        }
                        @else{
                            <p>No hay respuestas para esta pregunta</p>
                        }
                    }
                </div>
            </div>

            <!--DRETA-->
            @if(idCiutatSeleccionada()){
            <div class="o-layout-part">
                @if(preguntaSeleccionada()){
                    
                    <app-card [title]="preguntaSeleccionada()!.titol" 
                        [subtitle]="preguntaSeleccionada()!.text">
                        <div class="o-card-content">
                            @if(situacionsLlistables()){
                                <app-list-in-card [title]="'Listado de respuestas'" [items]="situacionsLlistables()" [editable]="false"
                                    (accio)="seleccionaResposta($event)">
                                </app-list-in-card>
                            }
                            @else{
                                <p>No hay respuestas para esta pregunta</p>
                            }
                        </div>
                    </app-card>
                }
            </div>
        }
</main>
<!--
        <p>Guia de posibles pasos para empadronarte en Tarragona.</p>
        <p>Esta es una guía que explica los posibles pasos a seguir para empadronarte en Tarragona. La guía está diseñada según la experiencia del Grupo de Incidencia política Padró para Totes. 
Un un grupo de personas vecinas y entidades antirracistas independientes que se reúnen para implementar estrategias colectivas que ayuden a las personas en condición de racialización a empadronarse. 
La practica de negar el derecho al empadronamiento es Racismo estructural, recuerda, no tengas miedo en denunciarlo.</p>
    </div>
    <div class="parcial">
        <h2>¿Cual es tu dificultad para empadronarte?</h2>
    </div>
    -->
