<main>
    <div class="parcial">
        <h2>Padrón para todes</h2>
        <p>Guia de posibles pasos para empadronarte en Tarragona.</p>
        <p>Esta es una guía que explica los posibles pasos a seguir para empadronarte en Tarragona. La guía está diseñada según la experiencia del Grupo de Incidencia política Padró para Totes. 
Un un grupo de personas vecinas y entidades antirracistas independientes que se reúnen para implementar estrategias colectivas que ayuden a las personas en condición de racialización a empadronarse. 
La practica de negar el derecho al empadronamiento es Racismo estructural, recuerda, no tengas miedo en denunciarlo.</p>
    </div>
    <div class="parcial">
        <h2>¿Cual es tu dificultad para empadronarte?</h2>
    </div>
</main>
