main{
    display: flex;
    padding: 64px 160px 180px 160px;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
}

.parcial{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}
