.o-card-div{
    display: flex;
    width: 544px;
    padding: var(--padding-md);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-lg);
    border-radius: var(--Corner-Large, 16px);
    background: var(--Blanc, #FFF);
    box-shadow: 0 16px 32px -4px rgba(16, 24, 40, 0.12);

    p, div{
        width:100%;
    }
}

