.o-card-div{
    display: flex;
    width: 544px;
    padding: var(--padding-md);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-lg2);
    border-radius: var(--Corner-Large, 16px);
    background: var(--Blanc, #FFF);
    box-shadow: 0 16px 32px -4px rgba(16, 24, 40, 0.12);
}

.o-card-heading{
    display: flex;
    padding: var(--padding-sm) var(--padding-sm);
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;    
    border-radius: var(--Corner-Small, 8px);
    background: var(--Gradient-Clar-llarg---Groc, linear-gradient(270deg, #FDDA5A 0%, #FD68C4 34%));
    text-align: start;

    h2{
        color: var(--Blanc, #FFF);
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        width: 100%;
    }
}