.o-input-div{
    display: flex;
    flex-direction: column;
    gap: var(--numbers-gaps-gap-internal-general);
}

.o-error-msg{
    color: var(--fosc-900);
    font-size: var(--padr-text-12-regular-font-size);
}

.o-form-box{
    display: flex;
    width: 544px;
    padding: var(  --padding-md);
    flex-direction: column;
    gap: var(--gap-md);
    border-radius: var(--Corner-Large, 16px);
    border: 1px solid var(--Gradient-Clar-Groc, #FDDA5A);
    background: var(--Blanc, #FFF);
}

.o-button-div{
    position: relative;
    width: 100%;
}

.o-submit-button{
    width: 100%;;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--corners-corners-buttons, 8px);
    background: var(--Clar-200, #FD86D0);
    box-shadow: 0 2px 8px 0 rgba(16, 24, 40, 0.08);
    border: none;
    cursor: pointer;

    i{
        margin-left: 12px;
    }
}