.o-layout{
    display: flex;
    flex-direction: row;
    padding: var(--padding-xl);
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-xl);
    align-self: stretch;

    @media (max-width: 1250px) {
        flex-direction: column;
        padding: 5px;
        align-items: center;
    }
}

.o-layout-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 620px;

    @media (max-width: 620px) {
        width: 350px;
    }
}

