.o-list{
    width: 640px;
}

.o-list-div{
    border: 1px solid var(--Grays-Gray-6, #F2F2F7);
}

.o-list-item{
    display: flex;
    padding: var(--padding-sm);
    align-items: flex-start;
    gap: var(--gaps-gap-internal-general, 8px);
    align-self: stretch;
    background: #FFF;

    &:hover{
        background: #F4A8CE;
        cursor: pointer;
    }

    i{
        font-weight: regular;
        color: var( --clar-700)
    }
}

.o-list-item-content{
    width: 100%
}

.o-list-item-actions{
    display: flex;
    flex-direction: row-reverse;
    button{
        background: none;
        border: none;
    }
    i{
        font-weight: regular;
        color: var( --clar-700);
        cursor: pointer;

    }
    i:hover{
        color: var( --negre);
    }
}

.o-list-item-selected{
    background: #F4A8CE;
}