@use 'styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}