@use 'styles/1.settings/variables_figma';
@use 'styles/1.settings/variables';
@use 'styles/2.tools/dependencies';

@use 'styles/3.generic/reset';

@use 'styles/4.elements/body';
@use 'styles/4.elements/forms';
@use 'styles/4.elements/headings';

@use 'styles/5.objects/form_objects';
@use 'styles/5.objects/headings_objects';
@use 'styles/5.objects/list_objects';
@use 'styles/5.objects/layout';
@use 'styles/5.objects/card_objects';

@import "@fortawesome/fontawesome-free/css/all.css";