@import 'styles/1.settings/variables_figma';
@import 'styles/1.settings/variables';
@import 'styles/2.tools/dependencies';
@import 'styles/3.generic/reset';
@import 'styles/4.elements/body';
@import 'styles/4.elements/forms';
@import 'styles/4.elements/headings';

