<div class="c-list-container">
    <div class="o-list-div">
        <div class="o-list-heading">
            <h2>{{ title }}</h2>
        </div>
        <ul class="o-list">
            @for(item of items; track item.id) {
            <li class="o-list-item" [class.o-list-item-selected]="item.id === idSelected"
                (click)="onAccio('view', item.id)">
                <!--  <div *ngIf="label" class="o-list-item-name">{{ item.label }}</div>-->
                <div class="o-list-item-content">{{ item.nom }}</div>

                <div class="o-list-item-actions">
                    @if(editable){
                    <button (click)="$event.stopPropagation(); onAccio('edit', item.id)" class="o-edit-button"><i
                            class="fa-solid fa-pencil"></i></button>
                    <button (click)="$event.stopPropagation(); onAccio('delete', item.id)" class="o-delete-button"><i
                            class="fa-solid fa-trash-can"></i></button>
                    }
                    @if(back){
                    <div (click)="$event.stopPropagation(); onAccio('back', item.id)"><i
                            class="fa-solid fa-arrow-left"></i></div>
                    }
                    @if(!back){
                    <div (click)="$event.stopPropagation(); onAccio('view', item.id)"><i
                            class="fa-solid fa-arrow-right"></i></div>
                    }
                </div>
            </li>
            }@empty{
            <div>No hi ha ciutats disponibles.</div>
            }
        </ul>
    </div>

    <app-submit [text]="'Afegir ciutat'" (clickEvent)="onAccio('add')" [icono]="true">
    </app-submit>

</div>