<form class="o-form-box" [formGroup]="situacioForm" (ngSubmit)="submitSituacio()">
    <!-- Resposta -->
        <app-text-area
            label="Escrive una respuesta: " 
            name="resposta" 
            [control]="resposta" 
            placeholder="Escibe la respuesta que se mostrará al usuario"
            errorMessage="{{ getErrorMessage(resposta, 'Respuesta') }}" 
            required="required">
        </app-text-area>
<!-- Següent pregunta -->

        <app-select 
            label="Seleccionar la siguiente pregunta: " 
            name="seguentPregunta" 
            [control]="seguentPregunta"
            placeholder="Selecciona una respuesta" 
            errorMessage="{{ getErrorMessage(seguentPregunta, 'Siguiente pregunta') }}" 
            required="required"
            [items]="preguntesLlistables()">
        </app-select>

        <app-submit text="Guardar respuesta" [icono]="true"></app-submit>
</form>