<form class="o-form-box" [formGroup]="preguntaForm" (ngSubmit)="submit()">
    
    <app-input-text 
        label="Escrive el titulo de la pregunta: " 
        name="titol" 
        [control]="titol" 
        placeholder="Tu pregunta aquí"
        errorMessage="{{ getErrorMessage(titol, 'Título') }}" 
        required="required">
    </app-input-text>
    
    <app-text-area 
        label="Escrive la pregunta: " 
        name="text" 
        [control]="text"
        placeholder="La provence" 
        errorMessage="{{ getErrorMessage(text, 'Texto de la pregunta') }}" 
        required="required" >
    </app-text-area>
    
    <app-submit text="Guardar"></app-submit>
</form>