<form class="o-form-box" [formGroup]="preguntaForm" (ngSubmit)="submit()">
        
    <app-text-area 
        label="Escrive el texto que acompañará la pregunta: " 
        name="text" 
        [control]="text"
        placeholder="Escrive aquí el texto que aparecerá como explicación, acompañando la pregunta." 
        errorMessage="{{ getErrorMessage(text, 'Texto de la pregunta') }}" 
        required="required" 
        class="c-textarea-pregunta"
        >
    </app-text-area>

    <app-input-text 
        label="Escrive la pregunta: " 
        name="titol" 
        [control]="titol" 
        placeholder="Tu pregunta aquí"
        errorMessage="{{ getErrorMessage(titol, 'Título') }}" 
        required="required">
    </app-input-text>

    
    <app-submit text="Guardar"></app-submit>
</form>